html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}

h1 {
	font-size: 60px;
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

html {
	background-color:  #00539F;
}

body {
	width: 600px;/*强制页面保持600像素宽*/
	margin:0 auto;/*第一个值代表元素的上方和下方，这里是0.第二个值代表左边和右边，auto是一个特殊的值，意思是水平方向左右对称。可以设置4个值，各有其意义。*/
	background-color: #FF9500;/*指定元素的背景颜色*/
	padding: 0 20px 20px 20px;/*上 右 下 左*/
	border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img
{
	display: block;
	margin: 0 auto;

}